.nav {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  height: 30px;
}
.nav h1 {
  color: skyblue;
  margin: 0;
  font-size: 40px;
}
.nav ul {
  display: inline-flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav ul a{
  color: skyblue;
    text-decoration: none;
    cursor: pointer;
}
.nav li {
  padding-left: 15px;
  padding-top: 15px;
}
.nav li a {
  text-decoration: none;
  color: rgb(22, 179, 241);
}

.nav .nav-search input {
  flex: 1;
  color: skyblue;
  border: 1px solid skyblue;
  height: 35px;
  border-right: 0px;
}
.nav-search button {
  height: 36px;
  background-color: skyblue;
}
.nav-search {
  margin-top: 10px;
  flex: 1px;
  display: flex;
  margin-right: 5%;
  margin-left: 5%;
}
h1 a {
  color: skyblue;
  text-decoration: none;
}
.suggested-result {
  z-index: 10;
  position: absolute;
  display: list-item !important;
  background-color: white;
  width: 278px;
  top: 60px;
  border: 1px solid #ddd;
}
.suggested-result li {
  border: 1px solid #ddd;
  padding: 5px;
}
.suggested-result.li a {
  cursor: pointer;
  color: skyblue;
}
