.col-sm-3 img {
  width: 100px;
}
.search-item {
  margin: 25px auto;
  width: 800px;
  border-top: 1px solid #ddd;
  padding: 10px;
}
.search-item img {
  width: 100%;
  object-fit: contain;
  height: 150px;
}

.details {
  /* margin-top: 25px; */
  /* border-top: 1px solid #ddd; */
  padding: 2px;
  /* border-bottom: 2px solid #ddd; */
}
.search-item h6 {
  font-size: 24px;
  color: skyblue;
}
.search-item p {
  margin: 5px;
}
.search-item span {
  margin-right: 10px;
}
h6 {
  margin-top: 50px;
  display: flex;
  text-align: center;
  font-size: 100px;
}
